@using  FileUpload.Data;
@model Image
<div class="row">
    <div class="col-md-8 offset-md-2 jumbotron">
        <h3>
            Thank you for uploading your images,
            here's the link to share with your friends:

            <br /><br />
                  <a href="https://localhost:43487/home/viewimage?id=@Model.Id">
                      https://localhost:43487/home/viewimage?id=@Model.Id
                  </a>
            <br /><br />

            Make sure to give them the password of "@Model.Password"
        </h3>
    </div>
</div>