@model UploadViewModel
<div class="container">
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <img src="/uploads/@Model.Image.ImagePath" style="width: 800px;" />
                <br />
                <h3>Views: @Model.Image.Views</h3>
            </div>
        </div>
    </main>
</div>





